/* Стили для телефонов (ширина экрана до 767 пикселей) */
@media only screen and (max-width: 767px) {
  body {
    max-width: 430px;
    overflow-x: hidden;
  }
  .container {
    width: 95%;
  }
  /* Показываем бургер-меню */
  .menu-toggle {
    display: block;
  }

  //Open Modal
  #openModal {
    z-index: 1;
  }

  .modal-content {
    max-width: 95%;
    top: 0;
    left: 0;
    margin: 140px auto;
  }

  .modal-header {
    h2 {
      font-size: 1.5rem;
    }
  }

  #orderForm {
    margin-top: 20px;
    button {
      margin: 0 auto;
      width: 100%;
    }
    select {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  //-----------------
  .nav-burger {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90px; /* Начальное положение до появления */
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
    transition: all 0.8s ease; /* Добавление анимации */
    animation: slideIn 0.8s ease; /* Применение анимации при активации класса */
  }
  @keyframes slideIn {
    from {
      top: -100%; /* Начальное положение за пределами верхней границы */
    }
    to {
      top: 90px; /* Конечное положение после анимации */
    }
  }
  .nav-burger ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
    li {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .menu-toggle.active .nav-burger {
    display: flex;
  }

  .header {
    &_content {
      nav {
        display: none;
      }
      button {
        display: none;
      }
    }
  }
  #line-left,
  #line-right {
    opacity: 0;
  }

  //Gretings

  .gretings {
    &_content {
      margin: 30px auto;
      .span_info {
        width: 90%;
        text-align: center;
      }
      h1 {
        font-size: 2.2rem;
        text-align: center;
        width: 100%;
      }
      span {
        text-align: center;
      }
      #installation,
      #installation2 {
        display: none;
      }
      .gretings_button {
        a {
          text-wrap: nowrap;
        }
      }
    }
  }
  // Services
  .services {
    margin-top: 50px;
    .services_title {
      font-size: 2rem;
      width: 100%;
      text-align: center;
      font-size: 40px;
    }
    .services_content {
      width: 100%;
			flex-wrap: wrap
    }
    .services_card {
      width: 95%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .card_info {
      text-align: center;
    }
    .after {
      &::after {
        display: none;
      }
    }
  }
  // Product

  .product {
    padding: 10px;
    h2 {
      margin: 0;
    }
  }
  .product_grid-images {
    width: 100%;
    display: flex;
    margin: 30px auto;
    flex-direction: column;
  }
  .product_items {
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    p {
      width: 100%;
    }
    ol {
      width: 100%;
      padding: 0;
    }
  }
  .product_title {
    h2 {
      text-align: center;
      margin: 20px 0;
    }
  }
  // Pluses
  .pluses {
    margin-bottom: 50px;
  }
  .pluses_block {
    width: 100%;
    margin: 0 auto;
  }
  .pluses_content {
    margin: 30px 0;
    h1 {
      width: 95%;
      font-size: 40px;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .block_img {
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  .pluses_content #p-1 {
    width: 85%;
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);
    margin: 0 auto;
    padding: 20px;
    &:hover {
      transform: rotate(0deg);
      transition: 0.5s;
    }
  }
  .pluses_content #p-2 {
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    transform: rotate(0deg);
    margin: 0 auto;
    padding: 20px;
    &:hover {
      transform: rotate(0deg);
      transition: 0.5s;
    }
  }
  .block_text {
    p {
      font-size: 1rem;
      text-align: center;
    }
    span {
      font-size: 1rem;
    }
    h2 {
      text-align: center;
    }
  }
  .pluses_content #p-3 {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transform: rotate(0deg);
    padding: 20px;
    &:hover {
      transform: rotate(0deg);
      transition: 0.5s;
    }
  }
  //Grid Portfolio
  .grid-portfolio {
    padding: 20px 10px;
    h1 {
      margin: 0 auto;
      font-size: 40px;
    }
    .comment {
      margin: 0 auto;
      width: 100%;
      iframe {
        display: flex;
        width: 100%;
        height: 1000px;
        border-radius: 30px;
        border: 0;
        margin: 0 auto;
      }
    }
  }
  //Feedback
  .feedback {
    &_content {
      margin: 50px auto;
      width: 95%;
    }
    p {
      width: 100%;
      margin: 0 auto;
    }
    span {
      width: 100%;
      font-size: 2rem;
    }
    form {
      justify-content: center;
      input {
        width: 300px;
      }
    }
  }

  // Footer
  .footer_content {
    flex-direction: column;
  }
  .footer_info {
    width: 100%;
  }
  .footer_nav {
    display: none;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .container {
    width: 95%;
  }
  #installation2,
  #installation {
    display: none;
  }
  .services_content {
    gap: 3rem;
  }
  .feedback {
    p {
      width: 100%;
      margin: 0 auto;
    }
    form {
      justify-content: center;
    }
  }
}
