@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Thin.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Thin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Thin.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Light.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Regular.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Medium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-SemiBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-SemiBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-SemiBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-SemiBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Bold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-ExtraBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Black.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Black.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Black.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Montserrat/Montserrat-Black.ttf")
      format("truetype");
  font-display: swap;
}

/* Обнуляем стандартные отступы и поля браузера */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Устанавливаем базовый шрифт и размер */
body {
  max-width: 1900px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

/* Общий стиль для контейнера страницы */
.container {
  width: 65%;
  margin: 0 auto; /* Центрируем контейнер на странице */
}

/* Стили для заголовков */
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/* Стили для абзацев */
p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Стили для списков */
ul {
  list-style: none;
}

/* Пример стилизации ссылок */
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

/* Основные стили */

.header {
  margin: 30px 0;
  padding: 0px 30px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(83, 83, 83, 0.144);
  border-radius: 100px;
  position: sticky;
  top: 0;
  z-index: 3;
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    ul {
      display: flex;
      gap: 4rem;
      li {
        a {
          font-size: 1rem;
          font-weight: 600;
          color: var(--color-dark);
          text-wrap: nowrap;
        }
        a:hover {
          color: #0063d4;
          transition: 0.3s;
        }
      }
    }

    .active {
      color: #0063d4;
    }

    button {
      background: #fd0101;
      border: 0;
      height: 40px;
      width: 220px;
      border-radius: 30px;
      a {
        color: #fff;
        font-weight: 700;
        font-size: 1rem;
      }
    }
    button:hover {
      color: #0063d4;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
      transition: 0.3s;
      a {
        color: #0063d48a;
        transition: 0.3s;
      }
    }
  }
}

//Birger Menu

.menu-toggle {
  cursor: pointer;
  display: none;
}

.nav-burger {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-burger li {
  margin-right: 20px;
}

.bar {
  width: 35px;
  height: 4px;
  border: 0;
  background-color: #0982e5;
  margin: 5px 0;
  border-radius: 30px;
}

// Начало стилей для "Gretings"

.gretings {
  position: relative;
  display: flex;
  margin-top: 30px;
  width: 100%;
  height: 600px;
  background: #0982e5;
  border-radius: 30px;
  &_content {
    display: flex;
    width: 80%;
    height: 400px;
    margin: 70px auto;
    flex-direction: column;
    align-items: center;
    span {
      display: flex;
      color: #fff;
      font-size: 1.3rem;
      line-height: 120%;
      font-weight: 500;
      align-items: center;
    }
    .span_info {
      background: #53a8ed;
      border-radius: 30px;
      padding: 10px 30px;
      margin-bottom: 20px;
    }
    h1 {
      color: #fff;
      line-height: 100%;
      width: 80%;
      margin-bottom: 60px;
      text-align: center;
    }
    .danger {
      color: #ffffff;
      font-size: 30px;
      margin: 0 10px;
      font-weight: 800;
    }
    button {
      display: flex;
      align-items: center;
      gap: 1rem;
      background: #53a8ed;
      border: 0;
      border-radius: 30px;
      padding: 10px 30px;
      margin-top: 50px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
      transition: 0.5s;
      a {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    button:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.144);
      transition: 0.5s;
      transform: rotate(2deg);
    }
    #line-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    #line-right {
      position: absolute;
      right: 0;
      top: 0;
    }
    #installation {
      position: absolute;
      bottom: -60px;
      left: 100px;
      width: 250px;
      transform: rotate(-10deg);
      img {
        width: 250px;
        border-radius: 30px;
      }
      &::after {
        position: absolute;
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        background: #53a8ed;
        top: -10px;
        left: -10px;
        border-radius: 30px;
        z-index: -1;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
        transform: rotate(-2deg);
        transition: 0.5s;
      }
      &:hover::after {
        transform: rotate(0deg);
        transition: 0.5s;
        left: 0;
        top: 0;
        height: 90%;
      }
    }
    #installation2 {
      position: absolute;
      width: 250px;
      bottom: -70px;
      right: 100px;
      transform: rotate(10deg);
      img {
        width: 250px;
        border-radius: 30px;
      }
      &::after {
        position: absolute;
        content: "";
        display: flex;
        width: 100%;
        height: 100%;
        background: #53a8ed;
        top: -10px;
        left: 10px;
        border-radius: 30px;
        z-index: -1;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
        transform: rotate(2deg);
        transition: 0.5s;
      }
      &:hover::after {
        transform: rotate(0deg);
        transition: 0.5s;
        left: 0;
        top: 0;
        height: 90%;
      }
    }
  }
  // Конец стилей для секции "Gretings"
}

// Начало стилей для секции "Services"

.services {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  .services_title {
    display: flex;
    margin: 50px;
    font-size: 2.5rem;
    font-weight: 600;
    width: 80%;
  }
  &_content {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  &_card {
    position: relative;
    display: flex;
    width: 350px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
    img {
      width: 350px;
      border-radius: 30px;
    }
    h2 {
      font-weight: 700;
      margin-top: 20px;
    }
    .card_content {
      display: flex;
      width: 100%;
      backdrop-filter: blur(5px);
      background: #fff;
      border-radius: 30px;
      flex-direction: column;
      align-items: center;
      .card_info {
        width: 90%;
        display: flex;
        flex-direction: column;
      }
    }
    span {
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }
  .after {
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: #fd0101;
      top: -30px;
      left: 20px;
      z-index: -2;
      border-radius: 30px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.144);
      transform: rotate(5deg);
      transition: 0.5s;
    }
    &:hover::after {
      transform: rotate(0deg);
      transition: 0.5s;
      left: 0;
      top: 0;
      height: 90%;
    }
  }
  // Конец стилей секции "Services"
}

// Начало стилей секции "Product"

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: #f3f2f2;
  padding: 30px;
  border-radius: 30px;
  &_title {
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 50px;
    }
  }
  &_items {
    background-color: #53a8ed;
    border-radius: 30px;
    padding: 50px 30px;
    margin: 30px 0;
    color: #fff;
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    span {
      color: #fff;
      background-color: red;
      border-radius: 10px;
      padding: 0 10px;
    }
    strong {
      font-size: 1.2rem;
      background-color: red;
      border-radius: 10px;
      padding: 0 10px;
    }
    b {
      font-size: 1rem;
      font-weight: 600;
    }
  }
  &_grid-images {
    display: grid;
    width: 50%;
    grid-template-columns: auto auto;
    border-radius: 30px;
    margin: 30px 0;
    row-gap: 10px;
    gap: 20px;
    flex-wrap: wrap;
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  &_grid-image-item {
    display: flex;
		justify-content: center;
		align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background-color: #fff;
    color: #677483;
    overflow: hidden;
  }
  p {
    width: 80%;
    font-size: 1rem;
  }
  ol {
    font-size: 1rem;
    line-height: 200%;
  }
}

// Начало стилей секции "Pluses"

.pluses {
  display: flex;
  width: 100%;
  background: #0086f3;
  border-radius: 30px;
  margin-bottom: 100px;
  &_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px;
    gap: 3rem;
    h1 {
      color: #fff;
      margin-bottom: 30px;
    }
    span {
      background-color: red;
      border-radius: 10px;
      padding: 0 10px;
      color: #fff;
      font-size: 1.4rem;
    }
    #p-1 {
      transform: rotate(2deg);
      transition: 0.5s;
      &:hover {
        transform: rotate(0deg);
        transition: 0.5s;
      }
    }
    #p-2 {
      transform: rotate(-2deg);
      transition: 0.5s;
      &:hover {
        transform: rotate(0deg);
        transition: 0.5s;
      }
    }
    #p-3 {
      transform: rotate(2deg);
      transition: 0.5s;
      &:hover {
        transform: rotate(0deg);
        transition: 0.5s;
      }
    }
    .block-content {
      display: flex;
      align-items: center;
      gap: 3rem;
      background-color: #fff;
      position: relative;
      border-radius: 30px;
      padding: 50px;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 600;
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
      color: #677483;
      font-weight: 500;
    }
    img {
      width: 350px;
      border-radius: 30px;
      position: relative;
    }
  }
}
// Стили для секции "Grid Portfolio"

.grid-portfolio {
  display: flex;
  flex-direction: column;
  background-color: #2196f3;
  padding: 50px;
  border-radius: 20px;
  gap: 50px;
  h1 {
    color: #fff;
    margin: 50px;
  }
  .comment {
    margin: 0 auto;
    width: 100%;
    iframe {
      display: flex;
      width: 55%;
      height: 1000px;
      border-radius: 30px;
      border: 0;
      margin: 0 auto;
    }
  }
}
// Начало стилей секции "Feedback"

.feedback {
  width: 100%;
  background: #fd0101;
  border-radius: 30px;
  margin-bottom: 50px;
  &_content {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-top: 30px;
    #confirmation {
      display: none;
      color: #fff;
      font-size: 1.2rem;
      margin: 30px 0;
      transition: 0.5s;
    }
    span {
      color: #fff;
      font-size: 45px;
      font-weight: 600;
      margin-top: 50px;
      text-align: center;
    }
    p {
      color: #fff;
      font-size: 1.2rem;
      margin: 30px 0;
      width: 60%;
      text-align: center;
      margin-left: 230px;
    }
    #button_form-sabmit {
      background: #0086f3;
      border-radius: 30px;
      border: 2px solid #fff;
      width: 200px;
      height: 50px;
      font-size: 1.2rem;
      color: #fff;
      font-weight: 600;
    }
    #button_form-sabmit:hover {
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.671);
      transition: 0.5s;
    }
    form {
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-wrap: wrap;
      margin: 50px 0;
      input {
        width: 230px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #677483#fff;
        font-weight: 500;
      }
      input:focus {
        outline: 2px solid #0086f3;
      }
    }
  }
}

// Начало стилей для "Footer"

.footer {
  background: #0086f3;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  &_content {
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      flex-direction: column;
      #confid {
        text-decoration: underline;
        font-weight: 600;
      }
    }
    a {
      font-size: 1.1rem;
      line-height: 150%;
      color: #fff;
    }
    span {
      font-size: 1.1rem;
      color: #fff;
      margin: 10px 0;
    }
  }
  &_info {
    width: 20%;
    display: flex;
    flex-direction: column;
    a {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
.scrolled {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.144);
}
*[id] {
  scroll-margin-top: 10vh;
}
// Scrol bar
/* Отключение полосы прокрутки по умолчанию */
body {
  scrollbar-width: none; /* для Firefox */
  -ms-overflow-style: none; /* для IE 11 */
}

/* Устанавливаем цвет бара скролла */
::-webkit-scrollbar {
  width: 10px; /* ширина бара */
}

::-webkit-scrollbar-thumb {
  background-color: #0982e5; /* цвет бара */
  border-radius: 30px; /* скругление углов бара */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* цвет фона бара */
}

// Active link
.menu-link.active {
  color: #0086f3;
}

// Modal Windows

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border: 0;
  top: 35%;
  left: 25%;
  border-radius: 30px;
  max-width: 50%;
  position: relative;
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
    }
  }
  .item-content {
    display: flex;
  }
  .modal-item {
    margin: 50px;
  }
  input {
    width: 230px;
    height: 30px;
    border: 1px solid #0063d4;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #677483;
    font-weight: 500;
    margin: 10px 10px 10px 0;
    align-items: center;
  }
  input:focus {
    outline: 1px solid #0086f3;
  }
  select {
    height: 55px;
    border: 1px solid #0063d4;
    border-radius: 20px;
    background-color: unset;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 10px;
    color: #677483;
  }
  select:focus {
    outline: 1px solid #0086f3;
  }
  form {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
  }
  button {
    background: #0086f3;
    border-radius: 30px;
    border: 2px solid #fff;
    width: 200px;
    height: 55px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
  }
  button:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.671);
    transition: 0.5s;
  }
}

.close {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

//Policy

.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
  }
}
